.banner {
  --block-w: 20rem;
  --banner-h: 32.625rem;
  --image-w: 8.75rem;
  --skew-degree: 25deg;

  min-height: var(--banner-h);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: bg-animation 50s ease-in-out infinite;

  @include dfc;

  &__container {
    width: 100%;

    padding: 0 1.25rem;
  }
  &__body {
    width: 100%;

    @include dfc;
  }
  &__block {
    max-width: var(--block-w);
    width: 100%;

    position: relative;

    &-image {
      max-width: var(--image-w);
      margin-left: auto;

      position: relative;
    }
  }
  &__bars {
    position: absolute;

    top: 50%;
    left: 0;

    transform: translateY(-50%);

    width: 100%;

    &-item {
      background-color: var(--current-clr);
      color: rgba(var(--w-clr), 1);

      width: 100%;

      padding: 0.5rem 0;

      transform: skew(calc(-1 * var(--skew-degree)));

      padding-left: clamp(1.875rem, 3.125vw, 3.125rem);

      display: flex;

      &:not(:last-child) {
        @include m(b, 0.375rem);
      }

      &:nth-child(1) {
        max-width: 10rem;
        margin-left: 6rem;
      }
      &:nth-child(2) {
        max-width: 16.125rem;
      }
      &:nth-child(3) {
        max-width: 12.5rem;
        margin-left: 3.5rem;
      }

      span {
        @extend p;
        font-weight: 700;

        transform: skew(var(--skew-degree));
      }

      &--dark {
        --current-clr: rgba(var(--text-dark-clr), 1);
      }
      &--red {
        --current-clr: rgba(var(--r-clr), 1);
      }
      &--yellow {
        --current-clr: rgba(var(--y-clr), 1);
      }
    }
  }
}

@include mq(min, tab-mq) {
  .banner {
    --banner-h: 62.5rem;
    --block-w: 32rem;
    --image-w: 17.5rem;

    &__bars {
      &-item {
        max-width: 19.25rem;

        &:nth-child(1) {
          margin-left: 7.25rem;
        }
        &:nth-child(3) {
          margin-left: 4.125rem;
        }
      }
    }
  }
}

// @keyframes bg-animation {
//   50% {
//     transform: scale(1.25);
//   }
//   100% {
//     background-size: 100% auto;
//   }
// }
