.benefits {
  --main-image-h: 24.125rem;
  --blocks-item-h: 15rem;
  --border-clr: rgba(var(--light-clr),1);
  --border-w: 1px;
  --inner-gap: 1.25rem;

  &__inner {
    display: flex;
    flex-direction: column-reverse;

    grid-gap: var(--inner-gap);

    @include m(b, clamp(1.875rem, 3.75vw, 3.75rem));
  }
  &__blocks {
    display: flex;
    flex-direction: column;

    &-item {
      min-height: var(--blocks-item-h);

      padding: 1.875rem 1.5rem 1.25rem 1.5rem;

      border: var(--border-w) solid var(--border-clr);
    }
    &-info {
      p {
        span {
          font-weight: 700;
        }
      }
    }
    &-head {
      color: rgba(var(--r-clr), 1);

      font-weight: 700;
      @extend p;

      @include m(b, clamp(0.625rem, 1vw, 1rem));
    }
    .benefits__blocks-item {
        border-bottom: none;
    }
    &:last-child {
      .benefits__blocks-item:last-child {
        border-bottom: var(--border-w) solid var(--border-clr);
      }
    }
  }
  &__col-image {
    height: var(--main-image-h);
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
  }
}

@include mq(min, tab-mq) {
  .benefits {
    --main-image-h: 100%;
    --inner-gap: 0;

    &__blocks {
      padding: 0.625rem 0;

      border-top: var(--border-w) solid var(--border-clr);
      border-bottom: var(--border-w) solid var(--border-clr);

      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &:first-child {
        border-bottom: none;
      }
      &:nth-child(2) {
        border-bottom: none;
      }

      &-item {
        padding: 2.5rem 1.5rem 1.5rem 1.875rem;

        border-top: none;
        border-bottom: none;

        &:nth-child(2) {
          border: none !important;
        }
        &:nth-child(1) {
          border-left: var(--border-w) solid var(--border-clr);
          border-right: var(--border-w) solid var(--border-clr);
        }
      }
    }
    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
