.footer {
  --list-gap: 0.625rem 1.875rem;
  --body-gap: clamp(1.875rem, 2.5vw, 2.5rem);
  --footer-py: clamp(2.5rem, 3.75vw, 3.75rem);

  color: rgba(var(--w-clr), 1);

  background-color: rgba(var(--bl-clr), 1);

  &__body {
    padding: var(--footer-py) 0;

    @include fl(column, center, var(--body-gap));
  }
  &__logo {
    max-width: clamp(6.25rem, 8.875vw, 8.875rem);
  }
  &-nav {
    &__link {
      @extend p;

      letter-spacing: -0.002em;

      position: relative;

      &::after {
        @include pseudo;

        width: 100%;
        height: 1px;

        background-color: rgba(var(--w-clr), 1);

        @include tr(300, ease);

        bottom: -2px;
        left: 0;
      }

      @include hover {
        &:hover {
          &::after {
            transform: scale(.6)
          }
        }
      }
    }
    &__list {
      @include fl(column, center, var(--list-gap));
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__rights {
    font-size: 0.8125rem;
  }
}

@include mq(min, tab-mq) {
  .footer {
    --footer-outer-spacing: 1.25rem;

    width: calc(100% - (var(--footer-outer-spacing) * 2));

    @include m-auto;

    position: relative;

    &::before {
      @include pseudo;

      width: calc(100% + var(--footer-outer-spacing) * 2);
      height: 100%;

      top: 0%;
      left: 50%;

      transform: translateX(-50%);

      background-color: rgba(248, 248, 248, 1);

      z-index: -1;
    }

    &-nav {
      &__link {
        letter-spacing: -0.005em;
      }
    }
  }
}

@include mq(min, mob-mq) {
  .footer {
    &-nav {
      &__list {
        flex-direction: row;
      }
    }
  }
}
