.header {
  --header-wrapper-max-w: 49.75rem;
  --header-py: clamp(1rem, 1.875vw, 1.875rem);
  --logo-max-w: 8.125rem;

  position: fixed;

  top: 0;
  left: 0;

  @include z-3;

  width: 100%;

  padding: var(--header-py) 0;

  @include tr(300, ease);

  &--fixed {
    --header-py: .5rem;

    background-color: rgba(var(--w-clr), 1);

    box-shadow: 0 0 .5rem rgba(var(--r-clr), 1);

    .header {
      &__body {
        max-width: 100%;
      }
    }
  }

  &__logo {
    max-width: var(--logo-max-w);
  }
  &__row {
    @include fl(row, center, 1rem);
    justify-content: space-between;
  }
  &__navigation {
    @include fl(row, center, 0.375rem);
  }
  &__menu {
    --bar-w: 1.625rem;
    --menu-w: 1.625rem;
    --menu-h: 0.75rem;

    position: relative;

    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;

    width: var(--menu-w);
    height: var(--menu-h);

    @include tr(200, ease);

    span {
      width: var(--bar-w);
      height: 2px;

      background-color: rgba(var(--text-dark-clr), 1);

      @include tr(400, ease);
    }
  }
}

.lang {
  --lang-bg: 250, 250, 250;

  cursor: pointer;

  position: relative;

  @include tr(300, ease);

  &:hover {
    background-color: rgba(var(--lang-bg), 1);
    .lang__hidden {
      grid-template-rows: 1fr;
      opacity: 1;
      &-list {
        min-height: 100%;
      }
    }
    .lang__arrow {
      transform: scaleY(-1);
    }
  }
  &__selected {
    padding: 0.375rem 0.75rem;

    @include fl(row, center, 2px);

    & > span {
      @extend p;
      font-weight: 700;
    }
  }
  &__hidden {
    position: absolute;

    width: 100%;

    display: grid;
    grid-template-rows: 0fr;

    overflow: hidden;

    @include z-5;
    transition: 400ms ease 100ms;

    top: 100%;

    opacity: 0;

    &-list {
      width: 100%;

      background-color: rgba(var(--lang-bg), 1);

      min-height: 0;

      a {
        width: 100%;

        padding: 0.3125rem 0.75rem;

        @extend p;
        font-weight: 700;

        text-align: center;

        transition: 300ms ease;

        &:hover {
          background-color: rgba(var(--b-clr), .15);
        }
      }
    }
  }
  &__arrow {
    --arrow-w: 0.5625rem;
    --arrow-h: 0.3125rem;

    @include arrow(rgba(var(--text-dark-clr), 1));
  }
}

.nav {
  --spacing-from-header: 4.1875rem;

  position: fixed;

  top: var(--spacing-from-header);
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(var(--w-clr), 1);

  @include z-5;

  @include tr(400, ease-in-out);

  transform: translateY(100%);

  visibility: hidden;

  pointer-events: all;

  &--active {
    transform: translateY(0);

    visibility: visible;

    pointer-events: all;
  }

  &__list {
    @include fl(column, center, 1.25rem);
    justify-content: center;

    padding-top: 7.25rem;
  }
  &__link {
    font-size: 1.625rem;
    line-height: 120%;
    letter-spacing: -0.0163rem;
  }
}

@include mq(min, tab-mq) {
  .header {
    --logo-max-w: 8.75rem;

    &--fixed {
      --header-py: 1rem;
    }
    &__body {
      max-width: min(55.5vw, var(--header-wrapper-max-w));
      margin-left: auto;

      @include tr(300, ease);
    }
    &__navigation {
      grid-gap: clamp(1rem, 1.5vw, 1.5rem);
    }
    &__menu {
      display: none;
    }
  }
  .nav {
    position: initial;

    background-color: transparent;

    z-index: auto;

    transform: translateY(0);

    visibility: visible;

    &__list {
      @include fl(row, center, 0.5rem);

      padding-top: 0;
    }
    &__link {
      font-size: clamp(15px, 1.125vw, var(--text-xm));
      line-height: 133.333333%;
      letter-spacing: -0.002em;

      padding: 0.625rem 0.3125rem;

      position: relative;

      &::after,
      &::before {
        @include pseudo;

        width: 100%;
        height: 1px;

        background-color: rgba(var(--r-clr), 1);

        transform: scale(0);

        @include tr(400, ease);

        border-radius: 0.25rem;
      }
      &::after {
        transform-origin: left;

        top: 0rem;
      }
      &::before {
        transform-origin: right;

        bottom: 0rem;
      }
      @include hover {
        &:hover {
          &::after,
          &::before {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.header-single {
  .header {
    &__body {
      max-width: 100%;
    }
    &__navigation {
      grid-gap: 1rem;
    }
  }
  .nav {
    margin-right: clamp(2rem, 9vw, 9rem);
  }
}

.active-burger {
  span {
    transform: translate(0, var(--position)) rotate(var(--direction));

    &:nth-child(1) {
      --position: calc(var(--menu-h) / 2);
      --direction: 45deg;
    }
    &:nth-child(2) {
      --position: calc(-1 * var(--menu-h) / 3);
      --direction: -45deg;
    }
  }
}
