.image-section {
  --image-h: 20rem;

  &__img {
    min-height: var(--image-h);

    background-size: cover;
    background-repeat: no-repeat;
  }
}

@include mq(min, mob-mq) {
  .image-section {
    --image-h: 40rem;

    &__img {
      background-attachment: fixed;
    }
  }
}

@include mq(min, tab-mq) {
  .image-section {
    --image-h: 70rem;
  }
}

@include mq(min, desk-1-mq) {
  .image-section {
    --image-h: 85rem;
  }
}
