.timer {
  --gap: 2.5rem clamp(4rem, 6.875vw, 6.875rem);

  &__list {
    @include fl(column, center, var(--gap));
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      @include fl(column, center, 0);
      text-align: center;
    }
    &-num {
      font-size: clamp(3.5rem, 6vw, 6rem);
      letter-spacing: -0.045em;
      line-height: 85%;

      @include m(b, 0.125rem);
    }
    &-name {
      @extend p;

      span {
        color: rgba(var(--r-clr), 1);

        font-weight: 700;
      }
    }
  }
}

@include mq(min, mob-mq) {
  .timer {
    &__list {
      flex-direction: row;
      align-items: flex-start;

      &-item {
        display: block;

        text-align: left;
      }
    }
  }
}
