@font-face {
	font-family: 'micro-font';
	src: url('../../fonts/M025096D.woff2');
	src: local('micro-font'), local('micro-font-Regular'),
		url('../../fonts/M025096D.woff2') format('woff2'),
    url('../../fonts/M025096D.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

