:root {
  --ff: 'micro-font', sans-serif;

  --w-clr: 255, 255, 255;
  --b-clr: 0, 0, 0;
  --r-clr: 255, 0, 1;
  --grn-clr: 16, 84, 43;
  --br-clr: 71, 43, 1;
  --y-clr: 255, 231, 61;
  --or-clr: 255, 139, 2;

  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-xm: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;

  --root-btn-radius: 3.125rem;
  --root-btn-py: 1.25rem;
  --root-btn-px: 2.125rem;

  --cont-px: 1.75rem;

  --options-max-w: 27.5rem;

  --root-total-bet-spacing: 8px;

  --root-btn-gradient: linear-gradient(180deg, rgba(var(--y-clr), 1) 0%, rgba(var(--or-clr), 1) 100%);

  --triangle-shape: polygon(100% 0, 50% 100%, 0 0);
}

$media: (
  desk-1-mq: 85.375em,
  desk-2-mq: 90em,
  desk-3-mq: 120em,
  tab-mq: 78.5em,
  xs-tab-mq: 48em,
  mob-mq: 40em,
  sm-mob-mq: 24em
);

@include mq(desk-1-mq, min) {
  :root {}
}

@include mq(desk-2-mq, min) {
  :root {}
}

@include mq(desk-3-mq, min) {
  :root {}
}
